In [1]:

7**4

2401

In [2]:
s = "Hi there Sam!"

In [3]:
s.split()

['Hi', 'there', 'Sam!']

In [4]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

In [5]:

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [7]:
def domainGet(email):
    return email.split('@')[-1]

In [8]:
def findDog(st):
    return 'dog' in st.lower().split()
findDog('Is there a dog here?')

True

In [9]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count
countDog('This dog runs faster than the other dog dude!')

2

In [10]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'
caught_speeding(81,False)

'Big Ticket'

In [11]:
employee = [30000,23000,25000,40000,33000]
tot = 0
for i in employee:
    tot = tot + i
print("Total Salary :",tot)

Total Salary : 151000

In [12]:
dict1 = {
    "EmpId":[1001,1002,1003,1004],
    "EmpName":["SREENISH S","Mohamed ihthisam M","Keerthiraj.u","VimalP"],
    "Basicpay":[45000,42000,43000,44000]
}

dict2 = {
    "DeptName":["CSE","ECE","EEE","IT"],
    "DeptId":["19CS","19ECE","19EEE","19IT"]
}

dict1.update(dict2)
dict3 = dict1.copy()
dict3

{'EmpId': [1001, 1002, 1003, 1004],
 'EmpName': ['SREENISH\xa0S',
  'Mohamed ihthisam\xa0M',
  'Keerthiraj.u',
  'VimalP'],
 'Basicpay': [45000, 42000, 43000, 44000],
 'DeptName': ['CSE', 'ECE', 'EEE', 'IT'],
 'DeptId': ['19CS', '19ECE', '19EEE', '19IT']}